.root {
  -fx-background-color: linear-gradient(to bottom, #7d7c7c, #f7f7f7);
}

.text {
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 2, 0, 0, 2);
}

.button {
  -fx-background-radius: 15;
  -fx-padding: 8px 10px;
  -fx-border-color: transparent;
  -fx-border-width: 2;
  -fx-border-radius: 15;
  transition: background-color 0.3s ease-in-out;
}

.button:pressed {
  -fx-background-color: #cccccc;
  -fx-translate-y: 1.5px;
  -fx-padding: 10px 15px 6px 15px;
}

.button:hover {
  -fx-background-color: #d4cfcf;
  -fx-scale-x: 1.05;
  -fx-scale-y: 1.05;
  transition: all 0.2s ease-in-out;
}

.section-button {
  -fx-text-color: #333;
  -fx-background-color: transparent;
  -fx-font-size: 14px;
  -fx-border-color: #9F6E3F;
  -fx-border-radius: 10px;
}

.section-button:hover {
  -fx-background-color: #B8919A;
}

.logout-button {
  -fx-background-color: #c73961;
  -fx-background-radius: 20px;
  -fx-text-color: #eee;
}

.logout-button:hover {
  -fx-background-color: #B47C48;
}

.section-title {
  -fx-font-size: 24;
  -fx-font-weight: bold;
}

.var-box {
  -fx-border-color: black;
}

.auth-button {
  -fx-background-color: #DBBCC3;
  -fx-text-fill: #303D4F;
  -fx-border-radius: 15;
  -fx-background-radius: 15;
}

.auth-button:hover {
  -fx-background-color: #b8919a;
}
